<h1 style="font-family:death-star;"> STAR WARS EPISODE VII</h1>
<form action="/form">
  <div class="form-group">
    <label for="title">Check out movie times!</label>
     <select name='times'>
       <option>1:30</option>
       <option>2:30</option>
       <option>6:00</option>
       <option>7:00</option>
     </select>
  </div>
  <button type="submit" class="btn-success">Select Time!</button>
</form>
